@font-face {
	font-family: 'Gotham Book';
	src: url('/GothamBook.ttf');
}

@import '@fontsource-variable/nunito';
@import '@fontsource-variable/work-sans';

:root {
	--fh: 100vh;
}

* {
	margin: 0;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: black;
	color: white;
	font-family: 'Work Sans Variable', sans-serif;
	letter-spacing: -0.5px;
	font-weight: 550;
}
